<p id="notice"><%= notice %></p>

<h1>About</h1>

<table>
  <tr>
    <td>
      Get workflow status for models: <br>
      <pre>
DeclinedCreditCardBatch.aasm.states.map(&:name)
DeclinedCreditCardTransaction.aasm.states.map(&:name)</pre>
    </td>
  </tr>
  <tr>
    <td>
      More to come later
    </td>
  </tr>
</table>
